Source: edma3-lld
Section: admin
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: pdk-keystone2, debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git://git.ti.com/keystone-rtos/edma3_lld.git
Vcs-Browser: https://git.ti.com/keystone-rtos/edma3_lld

Package: edma3-lld
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EDMA3 Low Level Driver for user space. This LLD provides API for using EDMA. 
