<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="IPC Target Content"
    id="com.ti.rtsc.IPC.product_3.45.0.00"
    version="3.45.0.00"
    provider-name="Texas Instruments Incorporated">

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../../."/>
        <docs location="../../../docs"/>
        <info
            installLocation="../../.."
            productName="IPC"
            versionNumber="3.45.0.00"
        />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.model.productView">
        <productview
            moduleName="ti.sdo.ipc.productview.IpcProductView"
         />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.rtsc.IPC"
            name="IPC"
            folderPrefix="ipc"
            rootMacroName="IPC_CG_ROOT"/>
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.rtsc.IPC"
            version="3.45.0.00">
            <resources location="resources"/>
        </product>
    </extension>
</plugin>
