<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.2"?>
<plugin name="NDK Network Support Package for GMACSW 4.16.00.00"
        id="com.ti.rtsc.nsp.gmacsw.product_4.16.00.00"
        version="4.16.00.00"
        provider-name="Texas Instruments">
  <extension point="org.eclipse.help.toc">
    <toc file="toc_top.xml" primary="true"/>
  </extension>
  <extension point="org.eclipse.help.contentProducer">
    <contentProducer>
      <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"></producer>
    </contentProducer>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
    <repository location="../../../packages"></repository>
    <docs location="../../../" />
    <docs location="../../../docs"/>
    <docs location="../../../docs/cdoc"/>
    <info
            installLocation="../../.."
            productName="NDK Network Support Package for GMACSW"
	        versionNumber="4.16.00.00"></info>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
    <productType
            id="com.ti.rtsc.nsp.gmacsw"
            name="NDK Network Support Package for GMACSW"
            folderPrefix="nsp.gmacsw_4.16.00.00"
            rootMacroName="NSP_INSTALL_DIR"/>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
    <product
            productTypeId="com.ti.rtsc.nsp.gmacsw"
            version="4.16.00.00"/>
  </extension>
</plugin>
