<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="NDK Target Content"
    id="com.ti.rtsc.NDK.product_2.24.2.31"
    version="2.24.2.31"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../../."/>
        <docs location="../../../docs"/>
        <docs location="../../../docs/cdoc"/>
        <info
            installLocation="../../.."
            productName="NDK"
	        versionNumber="2.24.2.31"
        />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.model.productView">
        <productview
            moduleName="ti.ndk.productview.NdkProductView"
         />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.rtsc.NDK"
            name="NDK"
            folderPrefix="ndk"
            rootMacroName="NDK_INSTALL_DIR"/>
    </extension>
    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.rtsc.NDK"
            version="2.24.2.31"/>
    </extension>    

</plugin>
