<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
      name="Framework Components 3.40.02.07"
      id="com.framework_components_3_40_02_07.fctools"
      version="3.40.02.07"
      provider-name="Texas Instruments Incorporated">

   <extension point="org.eclipse.help.toc">
      <toc file="toc_top.xml" primary="true"/>
      <toc file="eclipse_toc.xml"/>
      <toc file="doxy_toc.xml"/>
   </extension>

   <extension point="org.eclipse.help.contentProducer">
      <contentProducer>
         <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer">
         </producer>
      </contentProducer>
   </extension>

   <extension
         point="org.eclipse.rtsc.xdctools.ui.productInfo">
      <repository
            location="../../../packages">
      </repository>
      <repository
            location="../../../examples">
      </repository>
      <repository
            location="../../../fctools/packages">
      </repository>
      <docs location="../../../docs"/>
      <docs location="../../../xdoc"/>
      <docs location="../../.." />
      <info
            installLocation="../../../"
            productName="Framework Components"
            versionNumber="3.40.02.07">
       </info>
    </extension>

</plugin>
