<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="EDMA3 LLD 02.12.05"
    id="com.ti.sdo.edma3.product_02.12.05"
    version="02.12.05"
    provider-name="Texas Instruments Inc.">
    <extension point="org.eclipse.help.toc">
        <toc file="toc_top.xml" primary="true"/>
        <toc file="toc_cdoc.xml"/>
    </extension>
    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../../docs"/>
        <info
            installLocation="../../.."
            productName="EDMA3 Driver"
            versionNumber="02.12.05"
            templateRepositoryPath="../../../packages"
            templateModule="ti.sdo.edma3.templates.Edma3Template"
        />
    </extension>


    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.sdo.edma3"
            name="EDMA3 Low Level Driver"
            folderPrefix="edma3_lld"
            rootMacroName="EDMA3_LLD_INSTALL_DIR" />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.sdo.edma3"
            version="02.12.05" />
    </extension>

</plugin>
