<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.2"?>
<plugin name="AVBTP"
        id="com.ti.avbtp.product_0.10.00.00"
        version="0.10.00.00"
        provider-name="Texas Instruments">
  <extension point="org.eclipse.help.toc">
    <toc file="toc_top.xml" primary="true"/>
  </extension>
  <extension point="org.eclipse.help.contentProducer">
    <contentProducer>
      <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"></producer>
    </contentProducer>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
    <repository location="../../../packages"></repository>
    <docs location="../../../" />
    <docs location="../../../docs"/>
    <docs location="../../../docs/cdoc"/>
    <info
            installLocation="../../.."
            productName="AVBTP"
            versionNumber="0.10.00.00"></info>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
    <productType
            id="com.ti.avbtp"
            name="AVBTP"
            folderPrefix="avbtp_0.10.00.00"
            rootMacroName="AVBTP_INSTALL_DIR"/>
  </extension>
  <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
    <product
            productTypeId="com.ti.avbtp"
            version="0.10.00.00"/>
    </extension>
</plugin>
