<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="MATHLIB C66x 3.1.0.0"
    id="ti.mathlib.c66x.rtscRegistry_3.1.0.0"
    version="3.1.0.0"
    provider-name="Texas Instruments Inc.">

    <extension point="org.eclipse.help.toc">
        <toc file="toc_top.xml" primary="true"/>
        <toc file="toc_cdoc.xml"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>
   
    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../.."/>
        <info
            installLocation="../../.."
            productName="MATHLIB C66x"
	        versionNumber="3.1.0.0"
        />
    </extension>

    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="ti.mathlib.c66x"
            name="MATHLIB C66x"
            folderPrefix="MATHLIB C66x"
            rootMacroName="TI_MATHLIB_C66X_INSTALL_DIR"/>
    </extension>
    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="ti.mathlib.c66x"
            version="3.1.0.0"/>
    </extension>

</plugin>
